/* =================================================================================
@Font-Face Embeds
================================================================================= */
@font-face {
    font-family: 'chivobold';
    src: url('../../fonts/chivo-bold-webfont.woff2') format('woff2'),
    url('../../fonts/chivo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chivolight';
    src: url('../../fonts/chivo-light-webfont.woff2') format('woff2'),
    url('../../fonts/chivo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chivoregular';
    src: url('../../fonts/chivo-regular-webfont.woff2') format('woff2'),
    url('../../fonts/chivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}