/* =================================================================================
Buttons
================================================================================= */
.wp-block-button__link {
  margin: 30px 0;
  display: inline-block;
}
.wp-block-button {
  display: inline-block;
  .wp-block-button__link {
    margin: 0;
  }
}
  .btn,
.wp-block-button__link {
  padding: 15px 50px;
  font-size: 1.6rem;
  font-weight: 700;
  transition: $transition-200;
  background: url(../images/btn-arrow.png) center right 30px no-repeat;
  text-decoration: none !important;
  border: none;
  color: $white;
  @include media-breakpoint-down(sm) {
    white-space: normal;
  }
  &:hover {
  }
  &:active {
  }
  &-sm {
    font-size: 1.4rem;
  }
  &-lg {
    font-size: 2rem;
  }
  &-primary {
    .composition &,
    a {
      color: $white;
    }
    background-color: $brand-primary;
  }
  &-secondary {
    .composition &,
    a  {
      color: $white;
    }
    background-color: $brand-secondary;
    &:hover {
      background-color: $black;
    }
  }
  &-white {
    color: $black;
    a {
      color: $black;
    }
    background-image: url(../images/btn-arrow-black.png);
    background-color: $white;
    &:hover {
      background-color: $brand-primary;
      background-image: url(../images/btn-arrow.png);
      color: $white;
      a {
        color: $white;
      }
    }
  }
  &-success {
  }
  &-info {
  }
  &-warning {
  }
  &-danger {
  }
  &-link {
  }
  &-ghost {
      color: $brand-primary;
    a {
      color: $brand-primary;
    }
    background-color: rgba($brand-primary, .25);
    border: 3px solid $brand-primary;
    &.btn {
      &-white {
        color: $white;
        a {
          color: $white;
        }
        background-color: rgba($white, .25);
        border: 1px solid $white;
        &:hover {
          background-color: $white;
          background-image: url(../images/btn-arrow-black.png);
          color: $black;
          a {
            color: $black;
          }
        }
      }
    }
  }
  &-outline-primary {
    color: $white;
    border: 1px solid $brand-primary;
    a {
      color: $white;
    }
  }
}