.million-mile-driver {
  h2 {
    float: none;
    font-size: 5.6rem;
    font-weight: 500;
    color: #242021;
    padding: 50px 0 25px;
    border-bottom: #ced4da solid 1px;
    margin-bottom: 25px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 50px;
      background: #dc1921;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }
  .profile {
    cursor: pointer;
    &:hover {
      .image {
        opacity: .6;
      }
      a {
        color: $brand-secondary;
      }
    }
    .image {
      margin-bottom: 25px;
      transition: $transition-300;
    }
    a {
      transition: $transition-300;
    }
  }
}